<footer class="footer text-center">
  <p>
    Contact me: +201020973478 |
    <a href="mailto:hessinshokry3@gmail.com">hessinshokry3gmail.com</a>
  </p>
  <p>
    <a
      href="https://www.facebook.com/hessin.shokry/"
      class="fa fa-facebook"
    ></a>
    <a href="https://github.com/hessin2010king" class="fa fa-github"></a>
    <a
      href="https://www.linkedin.com/in/hussien-shokry-a64a80136/"
      class="fa fa-linkedin"
    ></a>
    <a
      href="https://www.hackerrank.com/profile/hessinshokry3"
      class="fa fa-hackerrank"
    ></a>
    <a href="https://leetcode.com/u/hussienshokry/" class="fa fa-code"></a>
  </p>
</footer>
